@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$light-bg: rgba(255, 255, 255, 0.1);
$text-color: rgb(230, 237, 243);
$accent-color: rgb(43,49,55);
$header-bg-color: rgb(23, 30, 40);
$dark-bg: rgb(13, 17, 23);
$wrapper-bg: rgb(23, 30, 40);

body {
  background: $dark-bg;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  margin: 0;
  padding: 20px;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: $wrapper-bg;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(39, 49, 63);
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
  th, td {
    text-align: center;
    padding: 12px;
    border: 1px solid rgba(48, 54, 61, 0.7);
  }
  
  thead {
    background: $header-bg-color;
    color: rgb(230, 237, 243);
    
    th {
      font-weight: 700;
    }
  }

  tbody tr:hover {
    background-color: $accent-color;
    color: $dark-bg;
  }
}
